


<pagetabs data-page="true" class="app-page app-active">
    <header class="header-bar">
        <button class="btn pull-left icon icon-menu" data-side-panel-id="side-home"></button>
        <div class="center">
            <h1 class="title">{{pageName}}</h1>
        </div>
    </header>
    <nav class="tabs header-tabs">
        <div class="tab-items">
            <a class="tab-item active" data-tab="0">POC</a>
            <a class="tab-item " data-tab="1">About</a>            
            <a class="tab-item" data-tab="2">Services</a>
        </div>
        <div class="tab-indicator" style="width: 33.3333%; transform: translateX(0%);"></div>
    </nav>
    <div class="content" data-tab-contents="true" data-disable-swipe="false" data-tab-default="1" style="overflow: hidden; padding: 0px;">
        <div style="overflow: hidden; width: 4098px; box-sizing: content-box; backface-visibility: hidden; perspective: 1000px; margin: 0px; padding: 0px; transform: translate3d(0px, 0px, 0px); transition: transform 200ms ease-out;">
            <div class="tab-content" style="margin: 0px; float: left; overflow-y: auto; overflow-x: hidden; padding: 0px; display: block; height: 228px; width: 1366px;">
                <div class="padded-full">
                    <input type="text" ng-model="searchText" placeholder="filter Patients"><br />

                    <ul class="list">
                        <!--<li class="divider"></li>-->
                        <li class="item-expanded" ng-repeat="per in People | filter:searchText">
                            <!--<a href="#action" ng-click="activeEditMode(per);" class="pull-right icon icon-edit"></a>
                    <a href="#action" ng-click="deletePerson(per);" class="pull-left icon icon-close"></a>-->

                            <div class="item-content">
                                <span class="title">{{per.Name}}</span>
                                <span class="body">{{per.Email}} &nbsp;{{per.Age}} Year(s) <br />{{per.PhoneNum}}</span>

                                <button class="btn icon icon-edit primary" ng-click="activeEditMode(per);"></button>&nbsp;<button class="btn icon icon-close" ng-click="deletePerson(per);"></button>

                            </div>
                        </li>

                    </ul>




                </div>
            </div>
            <div class="tab-content" style="margin: 0px; float: left; overflow-y: auto; overflow-x: hidden; padding: 0px; display: block; height: 228px; width: 1366px;">
                <div class="padded-full">
                    <!--<img src="#" id="capturedImage" style="display:none;" />-->
                    <!--<ul class="list">
                        <li class="divider">Select a pizza</li>
                        <li ng-repeat="(key, value) in pizzas"><a class="padded-list" ng-href="{{value.url}}">{{value.name}}</a></li>
                    </ul>-->
                    <p>SHIVAMITCS is a India-based IT firm specializing in complex web and mobile application design & development.</p>
                    <ul class="list">
                        <li class="divider">Our Main Features</li>
                        <li ng-repeat="(key, value) in pizzas"><a class="padded-list" ng-href="{{value.url}}">{{value.name}}</a></li>
                    </ul>

                </div>
            </div>
            
            <div class="tab-content" style="margin: 0px; float: left; overflow-y: auto; overflow-x: hidden; padding: 0px; display: block; height: 228px; width: 1366px;">
                <div class="padded-full">
                    <h1>Tab 3</h1>
                    <p>Swipe me!</p>
                </div>
            </div>
        </div>
    </div>

</pagetabs>
<!--<button class="floating-action padded-full icon icon-plus active primary"></button>-->
<button class="floating-action padded-full icon icon-add active primary" ng-click="OpenAddPanel()"></button>
<div id="full-panel-example" class="panel-full">
    <header class="header-bar">
        <button class="btn pull-right icon icon-close" data-panel-close="true"></button>
        <div class="center">
            <h1 class="title">{{pagetitle}}</h1>
        </div>
    </header>

    <div class="content">

        <div class="padded-full">


            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="span10" placeholder="Name" id="personName" type="text" name="Name" data-ng-model="Person.Name" />
            </div>


            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input class="span10" placeholder="Email" type="text" name="Email" data-ng-model="Person.Email" />
            </div>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-globe"></i></span>
                <input class="span10" placeholder="Age" type="text" name="Age" data-ng-model="Person.Age" />
            </div>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-headphones"></i></span>
                <input class="span10" placeholder="Phone no" type="text" name="Phone" data-ng-model="Person.PhoneNum" />
            </div>
            <br>
            <div>
                <button id="showtoast" class="btn btn-success primary" data-ng-show="!(IsEditMode)" data-ng-click="addPerson();">Save</button>
                <button class="btn btn-success primary" data-ng-show="IsEditMode" data-ng-click="updatePerson(Person)">Update</button>
                <button class="btn btn-default" data-panel-close="true">Cancel</button>
            </div>
        </div>



    </div>
</div>
<!--<button class="floating-action padded-full icon icon-menu active primary" ng-click="captureImage()"></button>-->