

<!-- Main Content -->
<div class="p-b-20 animated fadeinup">

    <!-- Heading -->
    <div class="heading-container">
        <h2 class="heading">
            {{pageTitle}}
             
        </h2>
        <p class="flow-text">Create a mobile expirience that you are gonna be proud of. With Halo you can create Mobile Websites ans Apps.</p>
    </div>

    <!-- Features -->
    <ul class="collapsible popout m-l-r-20" data-collapsible="accordion">
        <li class="animated fadeinright delay-1">
            <div class="collapsible-header"><i class="ion-android-more-vertical right"></i>Information for you</div>
            <div class="collapsible-body" style="display: none;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p></div>
        </li>
        <li class="animated fadeinright delay-2">
            <div class="collapsible-header"><i class="ion-android-more-vertical right"></i>Some tips</div>
            <div class="collapsible-body" style="display: none;"><p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        </li>
        <li class="animated fadeinright delay-3">
            <div class="collapsible-header"><i class="ion-android-more-vertical right"></i>Places near you</div>
            <div class="collapsible-body" style="display: none;"><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
        </li>
        <li class="animated fadeinright delay-4">
            <div class="collapsible-header"><i class="ion-android-more-vertical right"></i>Suggestions</div>
            <div class="collapsible-body" style="display: none;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
        </li>
    </ul>

    <!-- More Features -->
     

    <!-- Blog -->
    <!--<div class="grey-blue overflow">
        <div class="heading-container">
            <h2 class="heading">Latest from Blog</h2>
            <p class="flow-text">A wonderful serenity has taken possession of my entire soul like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
        <div class="blog-card animated fadein delay-1">
            <div class="blog-header">
                <img class="avatar circle" src="img/user4.jpg" alt="">
                <div class="blog-author">
                    <span>Jassie North</span>
                    <span class="small">1hour ago - 62 Share</span>
                </div>
            </div>
            <div class="blog-image">
                <img src="img/1.jpg" alt="">
            </div>
            <div class="blog-preview p-20">
                <h4 class="uppercase">It really makes no sense</h4>
                <p>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</p>
                <a href="article.html" class="waves-effect waves-light btn primary-color">Read</a>
            </div>
        </div>
    </div>-->

    <!-- Footer -->
    <footer class="page-footer primary-color">
        <!--<div class="container">
            <div class="row">
                <div class="col s12">
                    <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    <div class="center-align">
                        <i class="ion-social-facebook m-10 white-text"></i>
                        <i class="ion-social-twitter m-10 white-text"></i>
                        <i class="ion-social-pinterest m-10 white-text"></i>
                        <i class="ion-social-dribbble m-10 white-text"></i>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="footer-copyright blue darken-1">
            <div class="container">
                2016 Codnauts
                <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
            </div>
        </div>
    </footer>

</div> <!-- End of Main Contents -->